# Ignore Build directory
build/
logs/
node_modules/
distribute/
yarn-error.log 
test-results.xml
obs-studio-node.tar.gz

# Binaries
*.dll
*.lib
*.pdb
*.node

# IDE Files
*.sln
*.vcxproj
*.opendb
docs/ 
.vscode 
/*.log
/streamlabs-build

tests/osn-tests/*-cache-local.zip
obs-studio
obs-studio-node
archive*.tar.gz
obs-build-dependencies